:root {
  --primary-color: #8ed4e2;
  --secondary-color: rgb(88, 88, 88);
  --hover-color: #b7877b;
}

body {
  background-color: #1f1e1e;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #ffffff;
}

h1 {
  font-size: 2rem;
  color: var(--primary-color);
  text-align: left;
  margin: 10px;
}

p {
  margin: 0;
}

li :is(a, button) {
  background-color: transparent;
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s
}

li :is(a, button):hover {
  background-color: var(--hover-color);
}

li {
  list-style: none;
}


.maintext {
  font-size: 2.5rem;
  color: #ffffff;
}

.greentext {
  color: var(--primary-color);
}

.bold {
  font-weight: bold;
}

.nav {
  * {
    margin: 0;
    padding: 0;
  }
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: var(--secondary-color);

  ul {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  li button {
    border: none;
    border-radius: 10px;
    padding: 10px 5px;
  }
  
  .active {
    background-color: var(--hover-color);
    border-radius: 10px;
  }

  h1 {
    font-size: 1.8rem;
    text-align: center;
    flex: 1;
  }
  
  .search-container {
    flex: 1;
    display: flex;
    justify-content: right;
  }
  
  .search-container form {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 4px;
  }
  
  .search-container input[type="text"] {
    padding: 6px;
    /* margin-right: 5px; */
    border: none;
    outline: none;
  }
  
  .search-container button[type="submit"] {
    padding: 6px 10px;
    background: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .search-container button[type="submit"]:hover {
    background: #d1d1d1;
    transition: 0.2s;
  }
}

footer {
  width: 100vw;
  display: block;
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: var(--secondary-color);
  color: #ffffff;

  p {
    margin: 5px;
  }

  a {
    padding: 0 5px;
  }
}

/* --------- PAGE STYLING --------- */

/* index.html */
.main-page {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  div p {
    margin: 0 0 5px 0;
  }

  div div {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  
  a {
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    transition: 0.2s;
  }
}

@media screen and (max-width: 1200px) {
  .main-page a, li button, input, .search-container button {
    font-size: .5rem;
  }
}

/* about.html */
.about-page {
  display: flex;
  margin-top: 75px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .goal {
    width: 50%;
  }
}

/* support.html */
.support-page {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* owner.html */
.owner-page {
  margin: 10px;
  display: flex;
  box-shadow: 0 0 5px black;

  * {

  }

  #pac-input {
    
  }
}

.side-bar {
  width: 20%;
  padding: 20px;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: column;
  transition: 0.2s;

  h4 {
    margin: 0 0 10px 0;
  }
}

.truck-details { 
  button {
    background-color: white;
    width: 100%;
    height: 1.3rem;
    border-radius: 4px;
    border: none;
    transition: 0.2s;
    margin-bottom: 10px;
  }

  button:hover {
    background-color: hsla(0, 0%, 100%, 0.8);
    border: none;
    cursor: pointer;
  }

  input[type="text"] {
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
  }

  textarea {
    font-family: inherit;
    font-size: .8rem;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    padding: 3px;
    border: none;
    border-radius: 4px;
  }
}

.truck-list {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;

  p {
  }

  button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
}