:root {
  --primary-color: #4ce68f;
  --secondary-color: #6542b8;
}

body {
  background-color: #333333;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 80px;
  color: #4ce68f;
  text-align: left;
  margin: 10px;
}

.nav {
  justify-content: space-between;
  background-color: #6542b8;
  overflow: hidden;
}

ul {
  font-size: 25px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline-block;
  padding: 7px 8px;
}

li a {
  display: block;
  padding: 10px 11px;
  text-decoration: none;
  transition: transform 0.2s;
  color: #ffffff;
}

.right {
  margin-left: auto;
}

li a:hover {
  background-color: #b576c6;
  border-radius: 15px;
  transform: scale(0.95);
}

.active {
  background-color: #cea4ea;
  border-radius: 15px;
}

.mainImg {
  margin-right: 1;
}

.maintext {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
}

.greentext {
  font-size: 40px;
  color: #4ce68f;
  margin-top: 10%;
  text-align: center;
  font-weight: bold;
}

.whitetext {
  font-size: 40px;
  color: #ffffff;
  margin-top: 10%;
  text-align: center;
}

.bottom {
  font-size: 20px;
  color: #ffffff;
}

.button {
  font-size: 25px;
  color: #ffffff;
  background-color: #6542b8;
  border-radius: 15px;
  padding: 15px 20px;
  margin-left: 4%;
  text-decoration: none;
  transition: transform 0.2s;
}

.button:hover {
  background-color: #b576c6;
  border-radius: 15px;
  transform: scale(1.10);
}

footer {
  display: block;
  bottom: 0;
  text-align: center;
  background-color: #6542b8;
  color: #00001a;
}

button {
  font-size: 25px;
  color: #ffffff;
  background-color: #6542b8;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #b576c6;
}

.search-container {
  float: right;
  padding: 6px;
  font-family: "Verdana";

  
 
}

.search-container form {
  display: flex;
  border: 1px solid #ddd;
  padding: 4px;
  font-family: "Verdana";

  
 
}

.search-container input[type="text"] {
  padding: 6px;
  margin-right: 6px;
  border: none;
  outline: none;
  width: 200px;
  font-family: "Verdana";

  
 
}

.search-container button[type="submit"] {
  padding: 6px 10px;
  background: #ddd;
  border: none;
  cursor: pointer;
  font-family: "Verdana";

  
 
}

.search-container button[type="submit"]:hover {
  background: #333333;
  font-family: "Verdana";

  
 
}