.container {
  margin: 10px;
  display: flex;
  box-shadow: 0 0 5px black;
}

.google-map {
    
}

.side-bar {
  width: 20%;
  padding: 20px;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 800px;
  transition: 0.2s;
  
  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  &::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  }

  .toggle-button button {
    background-color: white;
    width: 100%;
    height: 1.3rem;
    border-radius: 4px;
    border: none;
    transition: 0.2s;
  }

  button:hover {
    background-color: hsla(0, 0%, 100%, 0.8);
    cursor: pointer;
  }

  input[type="textbox"] {
    padding: 5px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    gap: 10px;
  }

  form button {
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    transition: 0.2s;
  }
}

.autocomplete-container {
  * {
    box-sizing: border-box;
  }

  .search-box {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  .address-list {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px black;
    z-index: 2;
    padding: 0;
    margin: 0;
  }

  .address-list li {
    font-size: .9rem;
    padding: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .address-list li:hover {
    box-sizing:border-box;
    background-color: black;
    border-left: 1px solid white;
    padding-left: 5px;
    transition: 0.2s;
    -webkit-transition: .2s
  }

  .address-list:last-child {
    margin-bottom: 20px;
  }
}

.truck-info {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  border: 1px solid white;
  border-radius: 4px;
  position: relative;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -20px;
    opacity: 0;
  }
  
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -20px;
    opacity: 0;
  }
  
  to {
    top: 0;
    opacity: 1;
  }
}

.truck-info-header {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;

  p {
    margin-bottom: 5px;
  }

  .truck-info-details {
    font-size: .8rem;
  }
}


.rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.reviews {
  padding: 10px;
  a {
    display: "flex";
    align-items: "center"; 
    justify-content: "center"; 
    gap: 5
  }

  button {
    width: 50%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 4px;
    border: none;
  }
}

.add-review {
  border-radius: 4px;
  border-top: 4px solid white;
  
  .add-review-rating {
    font-size: .8rem;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .review-input {
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    padding: 10px;
    border: none;
    resize: none;
    transition: 0.2s;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.8);
    }
    &:focus {
      background-color: white;
    }
  }

  div {
    display: flex;
    gap: 10px;
  }

  button {
    flex-grow: 1;
    height: 1.3rem;
    transition: 0.2s;
  }
}

.info-tab {
  display: flex;
  flex-direction: row;
  gap: 0 !important;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  

  button {
    border-radius: 0 !important;
  }
}

.menu {
  padding: 10px;
  font-size: .9rem;

  div {
    margin-bottom: 10px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

